.container {
    display: block;
    position: static;
  
    &--white {
      background-color: white;
    }
  
    &--gray {
      background-color: $gray-0;
    }
  
    &--noborder {
      border: 0;
    }
  
    &--absolute {
      position: absolute;
    }
  
    &--relative {
      position: relative;
    }
  
    &--fullHeight {
      height: 100%;
    }
  
    &--fullWidth {
      width: 100%;
    }
  
    &--maxWidth {
      max-width: $max-width;
      width: 100%;
    }
  
    &--maxHeight {
      height: calc(100vh - $header-height);
    }
  
    &--fitWidth {
      width: fit-content;
    }
  
    &--autoMargin {
      margin: auto;
    }
  
    @include createRemRange(padding, 5);
    @include createRemRange(margin, 5);
    @include createRemRange(gap, 5);
    @include createRemRange(border-radius, 5);
  }
  