.infoBox {
	height: 20rem;
	width: 30rem;
	position: fixed;
	top: 1.6rem;
	left: 1.6rem;
	background-color: $gray-2;
	border: 1px solid $gray-4;
	padding: 0.8rem;
}

.country {
	&:focus {
		outline: none;
		fill: blue;
	}
}